<!DOCTYPE html>
<html>

<head>
  <% include ../reusableComponents/css.html %>
  <script type="text/javascript" src="instascan.js"></script>
  <title>Check-In</title>
  
</head>

<body class="darkMode">

  <% include ../reusableComponents/navbar.ejs %>
  <a class="navbar-brand" href="/">Check-In</a>
  <% include ../reusableComponents/navButton.html %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% include ../reusableComponents/dropDownMenu.html %>
      <li class="nav-item"><a class="nav-link" href="/">Admin Panel</a></li>
      <li class="nav-item"><a class="nav-link" href="/Element/events">Events</a></li>
      <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
      <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
    </ul>
  </div>
  </nav>

  <div class="pricing pricing--norbu">
    <div class="pricing__item">
      <br>
      <img class="cardIMG" src="images/uvsase_main_logomark.png" alt="Card image cap">
      <br><br>
      <div class="dropdown">
        <button id="workshopButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Event
        </button>
        <br><br>
        <div id="workShopMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <!--
                <a class="dropdown-item">Asian Americans & Sex - Calvin Sun</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">The Modern Day Icarus: Curving the Burnout Epidemic - Christian Sy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Navigating a Career & Fulfillment - Thoa Kim Nguyen</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Oh you FANcy, huh?! - Jenny Nguyen</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">SEAA/Vietnamese History and Advocacy - Pele Le</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Understanding Your Finances - Phuc Hong Phan</a>
              -->

          <!--
              <a class="dropdown-item">Anticipating the Unexpected - Phuc Hong Phan</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Breaking the Bamboo Ceiling: Public Speaking & Social Etiquette 101 - Calvin Sun</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Career Building 101 - Christopher Hew</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Definition of Branding, Effective Branding Practices, Personal vs. Professional Branding - Thoa Kim Nguyen</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Journey to a Successful Career Path - Hanh Crose</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Preparation for the Workforce - Sue Ann</a>
            -->

          <a class="dropdown-item">Business management, Photography, Marketing, Self-confidence, Motivation - Jason
            Cun</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Chasing Wanderlust: International Travel 101 - Calvin Sun</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Dating Violence: Let's Talk About It. - Maiquynh Ngo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Record Family Stories. Why and How. - Jimmy Patel-Nguyen</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">SEED Dance Workshop - Nikolas Tioseco</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Success: Habits to Have It (and then some!) - Sarah Tran</a>

          <!-- Check in for various conference events -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Opening Ceremony</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Leadership Breakout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Regional Showcase</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Social</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Career Breakout</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Keynote</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Resource Fair</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Gala</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Testimonial</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Photobooth</a>

        </div>
      </div>
      <video width="330" height="250" playsinline controls="true" id="preview"></video>
      <div>
        <div>
          <p id="check"> </p>
        </div>
        <div>
          <p id="score"> </p>
        </div>
        <div>
          <p id="name"> </p>
        </div>

      </div>
    </div>




  </div>


  <script type="text/javascript">
    var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    var eventCheckin = 0;
    var selectedWorkshop;
    $("#workShopMenu a").click(function (e) {
      e.preventDefault();

      //Stores selected workshop text into selectedWorkshop variable
      selectedWorkshop = $(this).text().trim();

      //Sets button text to selected workshop
      $("#workshopButton").text(selectedWorkshop);
    });

    function myFunction() {
      //console.log("Workshop selected is" + selectedWorkshop);
    }

    let scanner = new Instascan.Scanner({
      video: document.getElementById('preview'),
      mirror: false,
      backgroundScan: false,
      scanPeriod: 3,
    });
    scanner.addListener('scan', function (content) {

      console.log("115:" + selectedWorkshop.trim());
      let data = JSON.parse(content);
      console.log("117:" + data['Workshop1']);



      //By default, add 40 points to attendee
      var workshopPoints = 40;

      if (selectedWorkshop == "Opening Ceremony" || selectedWorkshop == "Keynote") {
        var workshopPoints = 50;
      }

      if (selectedWorkshop == "Gala") {
        var workshopPoints = 30;
      }

      if (selectedWorkshop == "Regional Showcase" || selectedWorkshop == "Social") {
        var workshopPoints = 25;
      }

      if (selectedWorkshop == "Resource Fair" || selectedWorkshop == "Testimonial" || selectedWorkshop == "Photobooth") {
        var workshopPoints = 10;
      }

      let i = 0;
                 <% for (i = 0; i < result.length; i++) { %>
                 //console.log("93:  + <%=result[i]._id %> +  to " + data['id']);
                 //Compares name from QR code with names in database
                 if ("<%= result[i]._id %>" == data['id']) {

          let totalPoints = <%= result[i].Points %> + workshopPoints;

          //Checks if selected workshop matches a workshop from the scanned attendee
          const conferenceEvents = [
            "Opening Ceremony",
            "Leadership Breakout",
            "Regional Showcase",
            "Social",
            "Career Breakout",
            "Keynote",
            "Resource Fair",
            "Gala",
            "Testimonial",
            "Photobooth"
          ];

          if (conferenceEvents.indexOf(selectedWorkshop) > -1) {
            eventCheckin = 1;
          }

          if (selectedWorkshop == data['Workshop1'] || selectedWorkshop == data['Workshop2'] || selectedWorkshop == data['Workshop3'] || eventCheckin == 1) {


            document.getElementById("score").innerHTML = "Added " + workshopPoints + " points to " + data['FirstName'] + " " + data['LastName'] + " & " + data['House'];
            document.getElementById("name").innerHTML = data['FirstName'] + " " + data['LastName'] + " has " + totalPoints + " Points";
            document.getElementById("check").innerHTML = "Checked into " + selectedWorkshop + " ✔️";



            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                //console.log("/increasePoints request has been sent!");
              }
            };

            xhttp.open("POST", "/increasePoints/" + data['id'] + "/" + workshopPoints + "/" + data['House'] + "/noRedirect", true);
            xhttp.send();

            var xhttp2 = new XMLHttpRequest();
            xhttp2.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                console.log("/workshop request has been sent!");
              }
            };
            if (eventCheckin != 1) {
              //console.log("Sending " + "/Workshop/" + data['Name'] + "/" + selectedWorkshop)
              xhttp2.open("POST", "/Workshop/" + data['id'] + "/" + selectedWorkshop);
              xhttp2.send();
            }


            return;

          }
          else if (selectedWorkshop == undefined) {
            document.getElementById("check").innerHTML = "You did not select a workhop";
          }
          else {
            document.getElementById("check").innerHTML = "<%=  result[i].Name %> is not registred for this workshop";
          }

        }
                 <% } %>



             });

    if (!iOS) {
      Instascan.Camera.getCameras().then(function (cameras) { if (cameras.length > 0) { scanner.start(cameras[1]); } else { console.error('No cameras found.'); } }).catch(function (e) { console.error(e); });
    } else {

      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    }
  </script>
</body>

</html>