<!DOCTYPE html>
<html>
<head>
    <% include reusableComponents/css.html %>
      <title>Attendee Points</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a class="navbar-brand" href="/"> Attendee Points</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/">Check-In </a></li>
        <li class="nav-item"><a class="nav-link" href="/housePoints">House Points</a></li>
        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
        <li class="nav-item"><a class="nav-link" href="/attendeeInfo"> Attendee Info</a></li>
      </ul>
    </div>

</nav>
<body>
  <form action="/searchAttendeePoints" method = "POST">
    <input type="text" placeholder=" Search Name" name="attendeeName">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Points</th>
                    <th scope="col"> House </th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < memberResults.length; i++) { %>
                    <tr class="attendeePoints">
                        <td>
                            <%= memberResults[i].Name %>
                        </td>
                        <td>
                            <%= memberResults[i].Points %>
                        </td>
                        <td>
                            <%= memberResults[i].House %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
