<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <script type="text/javascript" src="instascan.js"></script>
      <title>Check-In</title>
   </head>
   <body class = "darkMode">
      <% include reusableComponents/navbar.ejs %>
         <a class="navbar-brand" href="/">Check-In</a>
         <% include reusableComponents/navButton.html %>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item"><a class="nav-link" href="/Element/attendeeInfo"> Attendee Info</a></li>
               <% include reusableComponents/dropDownMenu.html %>
               <li class="nav-item"><a class="nav-link" href="/Element/events">Events</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/history">History</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
               <li class="nav-item"><a class="nav-link" href="/Element/workshop"> Workshops </a></li>
            </ul>
         </div>
      </nav>
      <div class="pricing pricing--norbu">
         <div class="pricing__item">
            <br>
            <img class="cardIMG" src="images/uvsase_main_logomark.png" alt="Card image cap">
            <br><br>
            <div class="dropdown">
               <button id = "workshopButton" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Select Workshop
               </button>
               <br><br>
               <div id = "workShopMenu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Photography</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Learning</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Leadership</a>
               </div>
            </div>
            <video width="330" height="250" playsinline controls="true" id="preview"></video>
         </div>
      </div>
      <div class="d-flex justify-content-center">
         <p id="score"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="name"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="check"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop1"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop2"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="workshop3"> </p>
      </div>
      <div class="d-flex justify-content-center">
         <p id="house"> </p>
      </div>
      <script type="text/javascript">
         var selectedWorkshop;
         $("#workShopMenu a").click(function(e){
           e.preventDefault();

           //Stores selected workshop text into selectedWorkshop variable
            selectedWorkshop = $(this).text();
           //Sets button text to selected workshop
           $("#workshopButton").text(selectedWorkshop);
         });

         function myFunction() {
         //console.log("Workshop selected is" + selectedWorkshop);
         }

             let scanner = new Instascan.Scanner({
                 video: document.getElementById('preview'),
                 mirror: false,
                 backgroundScan: false,
                 scanPeriod: 3,
             });
             scanner.addListener('scan', function(content) {

                 let data = JSON.parse(content);
                 let workshopPoints = 50;
                 let matchFound = false;
                 let i = 0;
                 <% for(i=0; i < 1; i++) { %>





                 //Compares name from QR code with names in database
                 if ("<%= result[i]._id %>" == data['id'] && matchFound != true) {
                   //console.log('result[i] is ' + <%= result[i].Points %>);
                   let totalPoints = <%= result[i].Points %> + 50;

                     //Checks if selected workshop matches a workshop from the scanned attendee
                     if (selectedWorkshop == data['Workshop1'] || selectedWorkshop == data['Workshop2'] || selectedWorkshop == data['Workshop3']) {


                       document.getElementById("score").innerHTML = "Added " + workshopPoints + " points to " + " attendee and " + data['House'] + " team";
                       document.getElementById("name").innerHTML = data['Name'] + " has " + totalPoints + " Points";
                       document.getElementById("check").innerHTML = "Checked into " + selectedWorkshop + " workshop ✔️";


                         var xhttp = new XMLHttpRequest();
                         xhttp.onreadystatechange = function() {
                             if (this.readyState == 4 && this.status == 200) {
                                 //console.log("/increasePoints request has been sent!");
                             }
                         };

                         xhttp.open("POST", "/increasePoints/" + data['Name'] + "/" + workshopPoints + "/" + data['House'] + "/noRedirect", true);
                         xhttp.send();

                         var xhttp2 = new XMLHttpRequest();
                         xhttp2.onreadystatechange = function() {
                             if (this.readyState == 4 && this.status == 200) {
                                 //console.log("/workshop request has been sent!");
                             }
                         };
                         //console.log("Sending " + "/Workshop/" + data['Name'] + "/" + selectedWorkshop)
                         xhttp2.open("POST", "/Workshop/" + data['Name'] + "/" + selectedWorkshop);
                         xhttp2.send();

                         return;

                     }
                 }
                 <% } %>



             });

             Instascan.Camera.getCameras().then(function(cameras) {
                 if (cameras.length > 0) {
                     scanner.start(cameras[0]);
                 } else {
                     console.error('No cameras found.');
                 }
             }).catch(function(e) {
                 console.error(e);
             });
      </script>
   </body>
</html>
