<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Sahitya:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="instascan.js"></script>



        <title>Element</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Check-In</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/attendeePoints">Attendee Points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/housePoints">House Points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/modifyPoints">Modify Points</a>
                    </li>
                </ul>
            </div>
        </nav>






            <div class="pricing pricing--norbu">
                <div class="pricing__item">
                  <br>
                  <img class = "cardIMG" src="images/uvsase_main_logomark.png" alt="Card image cap">
                    <h3 class="pricing__title">Workshop Registration</h3>
                      <video  width = "330" height = "250" playsinline controls="true" id="preview"></video>

                </div>

            </div>
            <div class="d-flex justify-content-center">
                <p id = "name"> </p>

            </div>
            <div class="d-flex justify-content-center">
                <p id = "score"> </p>
            </div>




                <div class="d-flex justify-content-center">
                    <p id = "workshop"> </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p id = "check"> </p>
                </div>
                <div class="d-flex justify-content-center">
                    <p id = "house"> </p>
                </div>




        <script type="text/javascript">


            let scanner = new Instascan.Scanner(
                {
                    video : document.getElementById('preview'),
                    mirror : false,
                    backgroundScan : false,
                    scanPeriod: 3,
                }
            );

            scanner.addListener('scan', function (content) {

                console.log(content);

                var data = JSON.parse(content);

                document.getElementById("name").innerHTML = "Name : " + data['Name'];
                document.getElementById("score").innerHTML = "Added " + data['Points'] + " points to " + data['House'] ;



                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  console.log("Request to increase points has been sent");

                }
                };
                xhttp.open("POST", "/increasePoints/" + data['Name'] + "/" + data['Points'] + "/" + data['House'], true);
                xhttp.send();

                var xhttp2 = new XMLHttpRequest();
                xhttp2.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  console.log("Request to increase points has been sent");

                }
                };
                xhttp2.open("POST", "/record/" + data['Name'] + "/" + data['Points'] + "/" + data['House'], true);
                xhttp2.send();
            });


            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                }
                else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });









        </script>



    </body>
</html>
