<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="instascan.js"></script>



        <title>Element</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Check-In</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/LivePoints">Live Points</a>
                    </li>
                </ul>
            </div>
        </nav>

        <br>
        <div class="d-flex align-items-center justify-content-center">

            <div class="card" style="width: 22rem;">
                <img class = "cardIMG" src="images/uvsase_main_logomark.png" alt="Card image cap">

            </div>
        </div>
        <br>
        <div class="d-flex align-items-center justify-content-center">
            <div class="card" style="width: 22rem;">
                <div class="card-body">

                    <p class="card-text text-center">Workshop Check-In</p>

                    <video  width = "320" height = "250" playsinline controls="true" id="preview"></video>
                </div>
            </div>
        </div>



        <div class="d-flex justify-content-center">
            <p id = "name"> </p>

        </div>
        <div class="d-flex justify-content-center">
            <p id = "score"> </p>
        </div>
        <div class="d-flex justify-content-center">
            <p id = "workshop"> </p>
        </div>
        <div class="d-flex justify-content-center">
            <p id = "check"> </p>
        </div>





        <script type="text/javascript">



            let scanner = new Instascan.Scanner(
                {
                    video : document.getElementById('preview'),
                    mirror : false,
                    backgroundScan : false,
                    scanPeriod: 3,
                }
            );

            scanner.addListener('scan', function (content) {

                console.log(content);

                var JSONContent = JSON.parse(content);

                console.log(JSON.parse(content)['Name']);
                document.getElementById("name").innerHTML = "Name: " + JSONContent['Name'];
                document.getElementById("score").innerHTML = "Score: " + JSONContent['Score'];
                document.getElementById("workshop").innerHTML = "Checked into " + JSONContent['Workshop'] + " Workshop";
                document.getElementById("check").innerHTML =  "<img src='https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Checkmark_green.svg/2000px-Checkmark_green.svg.png'/>";

            });


            Instascan.Camera.getCameras().then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                }
                else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });










        </script>




    </body>
</html>
