<!DOCTYPE html>
<html>
   <head>
      <% include reusableComponents/css.html %>
      <title>Point System</title>
   </head>
   <body>
      <% include reusableComponents/navbar.ejs %>
     <a class="navbar-brand" href="/Element/schedule">Point System</a>
         <% include reusableComponents/navButton.html %>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <% include reusableComponents/dropDownMenu.html %>
               <li class="nav-item"><a class="nav-link" href="/Element/housePoints">House Points</a></li>
            </ul>
         </div>
      </nav>
      <img class="cardIMG responsive" src="https://cdn.glitch.com/4ab41f1c-3d7c-47ae-90cb-c10df786a969%2Fuvsase_main_horizontallogo.png?1558989671821" alt="Card image cap">
      <div class="table-responsive">
         <table class="table table-bordered table-hover text-center ">
            <thead>
               <tr>
                  <th scope="col">Event</th>
                  <th scope="col">Points</th>
                  <th scope="col">Info</th>
                
               </tr>
            </thead>
            <br>
          
            <br>
            <tbody>
               <tr>
                  <td class="align-middle">
                     Opening Ceremony 
                  </td>
                  <td class="align-middle">
                     50
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Leadership Breakout
                  </td>
                  <td class="align-middle">
                     40
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Friday Workshop
                  </td>
                  <td class="align-middle">
                     40
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Regional Showcase
                  </td>
                  <td class="align-middle">
                     25
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Social
                  </td>
                  <td class="align-middle">
                     25
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Career Breakout
                  </td>
                  <td class="align-middle">
                     40
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Saturday Workshop Round 1
                  </td>
                  <td class="align-middle">
                     40
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Saturday Workshop Round 2
                  </td>
                  <td class="align-middle">
                     40
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Keynote
                  </td>
                  <td class="align-middle">
                     50
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Case Study Participation
                  </td>
                  <td class="align-middle">
                     25
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Case Study Round 1 Winners
                  </td>
                  <td class="align-middle">
                     50
                  </td>
                  <td class="align-middle">
                     Points split between team members (e.g. if 4 people, 12.5 points each), manual input by a judge
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Case Study Round 2 Winners
                  </td>
                  <td class="align-middle">
                     100
                  </td>
                  <td class="align-middle">
                     Similar to Round 1, split between team members, manual input by a judge
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Case Study Round 2 -- People's Choice
                  </td>
                  <td class="align-middle">
                     100
                  </td>
                  <td class="align-middle">
                     Determined via Kahoot, winner announced at Gala
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Resource Fair
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Resource Fair Booths
                  </td>
                  <td class="align-middle">
                     Up to 105
                  </td>
                  <td class="align-middle">
                     Earn 15 points for each booth you visit.
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Gala
                  </td>
                  <td class="align-middle">
                     30
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Any Session
                  </td>
                  <td class="align-middle">
                     5
                  </td>
                  <td class="align-middle">
                     Staff can request for points be added for attendees who are actively engaged & participating throughout programs. Subject to review by Eboard. 
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Provide Testimonial
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     Get interviewed by someone from Media staff. Booth will be at Resource Fair.
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Session Evaluation Form
                  </td>
                  <td class="align-middle">
                     5
                  </td>
                  <td class="align-middle">
                     Programming will have forms. 5 points per form.
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Best Elevator Pitch
                  </td>
                  <td class="align-middle">
                     15
                  </td>
                  <td class="align-middle">
                     Facilitator to let staff know afterwards.
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Gala Photobooth
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Picture with a Workshop Presenter
                  </td>
                  <td class="align-middle">
                     15
                  </td>
                  <td class="align-middle">
                     Post on social media & tag UVSASE or use some type of hashtag
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Full Element Picture (Gryffindor, Hufflepuff, Ravenclaw, Slytherin)
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     Post on social media & tag UVSASE or use some type of hashtag
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Picture with at Least 3 Staff Members
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     Post on social media & tag UVSASE or use some type of hashtag
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Picture with All of Eboard
                  </td>
                  <td class="align-middle">
                     15
                  </td>
                  <td class="align-middle">
                     Post on social media & tag UVSASE or use some type of hashtag
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Picture with Attendees from 3 Other Schools (4 ppl total)
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     Post on social media & tag UVSASE or use some type of hashtag
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Purchase a VSA T-Shirt
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Like UVSASE on Facebook
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
               <tr>
                  <td class="align-middle">
                     Subscribe to UVSASE on YouTube
                  </td>
                  <td class="align-middle">
                     10
                  </td>
                  <td class="align-middle">
                     
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </body>
</html>
