
img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.cardIMG {
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
    }

@media only screen and (max-width: 700px) {
  img {
    width: 40%;
}

}
