<li class="nav-item dropdown ">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Attendee Points </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="/Element/attendeePoints">All Houses</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/Element/attendeePointsGryffindor">Gryffindor</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/Element/attendeePointsHufflepuff">Hufflepuff</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/Element/attendeePointsRavenclaw">Ravenclaw</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/Element/attendeePointsSlytherin">Slytherin</a>
  </div>
</li>
