

<br>
<div class="dropdown show text-center">
<a class="btn btn-primary dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Filter: <%= filterType %>
</a>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<a class="dropdown-item" href="/Element/attendeePoints">All Houses</a>
<a class="dropdown-item" href="/Element/attendeePointsGryffindor">Gryffindor</a>
<a class="dropdown-item" href="/Element/attendeePointsHufflepuff">Hufflepuff</a>
<a class="dropdown-item" href="/Element/attendeePointsRavenclaw">Ravenclaw</a>
<a class="dropdown-item" href="/Element/attendeePointsSlytherin">Slytherin</a>
</div>
</div>
<br>
