/*
* {
  background-color: #262626;
  color: white;
}

.darkMode {
  background-color: #262626;
  color: white;
}

.bg-dark3 {
  background-color: #202020 !important;
}

.bg-dark2 {
  background-color: #202020 !important;
}
*/

.img-fluid {
  width: 90% !important;
}

img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 97%;
}

@media screen and (max-width: 830px) {
  input {
    width: 85%;
  }
}

.modifyButton {
  border: 0;
  padding-top: 10px;
  background: none;
}

.cardIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

@media only screen and (max-width: 700px) {
  img {
    width: 40%;
  }
}
